.Mymargin{
    margin: 5px;
    padding: 3px;
    margin-left: 10px;
}
.Mymargin2{
    margin: 3px;
}
footer{
    text-align: center;
    color: white;
     background-color:black ;
     margin-top: 12.3%;
}
.container{
    margin-top: 3%;
    width: fit-content;
}
.col-md-4{
    text-align: center;
}
.Mymargin input{
    text-align: center;
}
